<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Студенты</title>
</head>
<body>
<div>
    <p>
        Задание №3<br>
📌 Создать базу данных для хранения информации о студентах университета. <br>
<br>
           </p>
    <hr></div>

{% for student in students %}
Студент <b>{{student.firstname}}  {{student.lastname}}</b><br>
факультет "{{student.id_faculty}}" -  {{student.fac_name}}  <br>
{{student.subjects}} <br>
{% endfor%}
<hr>

{% for marks_ in marks %}
Студент <b>{{marks_[0].firstname}}  </b>  <br>
Фак-т "{{marks_[1].faculty_name}}"- декан {{marks_.Faculty.decan}} <br>
Предмет: {{marks_[3].subject_name}} - "{{marks_[2].mark}}"<br>
{% endfor%}
<hr>
</body>
</html>