<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Юзеры</title>
</head>
<body>
<div>
    <p>
        *** Задание №4<br>
📌 Создайте форму регистрации пользователя с использованием Flask-WTF. Форма должна
содержать следующие поля:<br>
○ Имя пользователя (обязательное поле)<br>
○ Электронная почта (обязательное поле, с валидацией на корректность ввода email)<br>
○ Пароль (обязательное поле, с валидацией на минимальную длину пароля)<br>
○ Подтверждение пароля (обязательное поле, с валидацией на совпадение с паролем)<br>
📌 После отправки формы данные должны сохраняться в базе данных (можно использовать SQLite) и выводиться сообщение об успешной регистрации. Если какое-то из обязательных полей не
заполнено или данные не прошли валидацию, то должно выводиться соответствующее сообщение об ошибке. <br>
📌 Дополнительно: добавьте проверку на уникальность имени пользователя и электронной почты в базе данных. Если такой пользователь уже зарегистрирован, то должно выводиться сообщение
об ошибке..<br><br>
        *** Задание №5<br>
📌 дата рождения, согласие на обработку персональных данных.<br>
📌 Валидация должна проверять, что все поля заполнены корректно (например, дата рождения должна быть в формате дд.мм.гггг).<br>
📌 При успешной регистрации пользователь должен быть перенаправлен на страницу подтверждения //.<br>
           </p>
    <hr></div>

{% for user in users_v %}
Пользователь <b>{{user}}</b><br>
Email <b>{{user.email}}</b> - {{user.password}}  <br>
День варенья <b>{{user.bearthday}}</b> <br>
Согласие <b>{{user.soglasie}}</b> <br>
{% endfor%}
<hr>

{% block content %}
Страница не заполнена
{% endblock %}

</body>
</html>