<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>
        {% block title %}
        Главная станица
        {% endblock %}
    </title>
</head>
<body>
<div class="menu">
    <ul class="nav nav-pills justify-content-end align-items-end">
        <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="/clothing/" class="nav-link">Одежда</a></li>
        <li class="nav-item"><a href="/shoes/" class="nav-link">Обувь</a></li>
        <li class="nav-item"><a href="/jackets/" class="nav-link">Куртки</a></li>
        <li class="nav-item"><a href="/contacts/" class="nav-link">Контакты</a></li>
    </ul>
   <div class="telo">
    {% block content %}
    Страница не заполнена
    {% endblock %}
    </div>
    <div class="row fixed-bottom modal-footer">
        <hr>
        <p>Все права защищены &copy;</p>
    </div>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>