<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/users/add">Добавить пользователя</a>
<table>
    <thead>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>password</th>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
            <td>
                <form method="post">
                <input type="hidden" value={{ user_id }}>
                <button type="submint"> Удалить </button>
                </form>

            </td>

    </tr>

    {% endfor %}

    </tbody>

</table>

</body>
</html>